.break-line{
    border-bottom-width: 1px;
    border-bottom-color: #d0d0d0;
    border-bottom-style: solid;
    margin-top: 20px;
    width: 1099px;
    margin-left: 394px;
    margin-bottom: 0;
}