.links{
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    row-gap: 20px;
}
.socials-text{
    text-align: center;
    font-family: Roboto, Arial;
    margin-top: 100px;
}
.youtube{
    font-family: Roboto, Arial;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    display: inline-block;
    width: 200px;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    color: red;
}
.icon{
    color: red;
}
